<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
    xmlns:o="urn:schemas-microsoft-com:office:office" style="">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap);
        @import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap);
    </style>
</head>

<body style="background-color: #22262e !important;">
  
    <center>
        <a id="buttonId" href="#" aria-disabled="true" style="cursor: default !important; width: 100vw !important;">
            <img alt="Forgot your password?" src="https://i.imgur.com/EWxReMp.png"
                style="width: 50vw !important; cursor: default !important;" />
        </a>

        <td style="
            margin-top: 2% !important;
            margin-bottom: 6% !important;
            font-size: 20px !important;
            background: #E91E63 !important;
            color: #22262e !important;
            display: flex !important;
            width: 35vw !important;
            outline: none !important;
            padding: 8px !important;
            cursor: pointer !important;
            border-radius: 50px !important;
            transition: 0.2s !important;
            text-align:center !important;
            transition-timing-function: ease-in-out !important;
            ">

            <a href="{{url}}" id="btnSubmit" style="
                color: #000 !important; 
                text-decoration: unset !important;
                width: 100% !important;
                text-algin: center !important;
                font-weight: bold !important;
            ">
                Redefinir Senha
            </a>
        </td>
    </center>
   

</body>

</html>